// https://github.com/PabloNAX/Bootstrap-5-starter-boilerplate-with-Gulp

// the _variables.scss file inside the node_modules/bootstrap folder

// Changing the theme colors
$primary: #3ec89d;
$secondary: #3ab7ff;
$success: #65ff9f;
$info: #7164ff;
$warning: #ff9f65;
$danger: #ff457b;
$dark: #18181d;

@import '../node_modules/bootstrap/scss/bootstrap.scss';